html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "banner banner"
    "col1  col2";
  gap: 1rem;
  margin: 0;
  padding: 1rem;
  background-color: #f2f1ed;
}

nav ul {
  color: #fff;
  display: flex;
  justify-content: end;
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  color: #30658d;
  font-family: "Patua One", sans-serif;
}

header > img {
  grid-column: 1/-1;
  grid-row: 1;
  grid-area: banner;
}

header > .logo {
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  width: 14rem;
  align-self: end;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

main > figure {
  grid-row: 2;
}

main {
  display: contents;
}

nav {
  grid-column: 2 / -1;
  grid-row: 1;
}

nav a {
  color: #fff;
  font-family: "Patua One", sans-serif;
  font-size: 2rem;
}

nav li {
  padding: 1rem;
}

figure:nth-of-type(1) {
  grid-area: col1;
}

figure:nth-of-type(2) {
  grid-area: col2;
}

figure {
  margin: 0;
}
