html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  margin: 1rem;
  background-color: #f2f1ed;
}

nav ul {
  color: #fff;
  display: flex;
  justify-content: space-around;
  font-family: "Patua One", sans-serif;
}

h2 {
  color: #30658d;
  font-family: "Patua One", sans-serif;
}

header > img {
  grid-column: 1/-1;
  grid-row: 1;
}

header > .logo {
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  width: 14rem;
  align-self: end;
}

main > figure {
  grid-row: 2;
}

main {
  display: contents;
}
